<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="main">
        <div id="container">
            <div id="nav">
                <h1>CodeLeela</h1>
            </div>
            <div id="index-form">
                <div id="logo">
                    <img src="/images/logo1.png" alt="">
                </div>
                <h1 style="color:red;"><strong><%=err%></strong>. lead to an error!Please try Login/SignUp Again.</h1>
            </div>
        </div>
    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>
